.schedule-content {
  justify-content: center;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

::ng-deep .mat-tooltip  {
  white-space: pre-line !important;
  font-size: 14px !important;
  background: #ffffff !important;
  color: rgba(0,0,0,.87) !important;
  border: 2px solid #00bfff !important;
}

mat-table {
  display: block;
  width: 100%;
}
