<form [formGroup]="locationForm" novalidate>
  <p>{{(data.isAddOperation)?'Добавление места'
    :'Редактирование места'}}</p>
  <mat-icon (click)="closeDialog()" class="dialog__close-icon cursor pointer">clear</mat-icon>
   <div> <mat-label>Название</mat-label>
    <input formControlName="name" class="locationForm__input"/>
  <mat-error *ngIf="locationForm.get('name').dirty && locationForm.get('name').hasError('required')">
    Поле обязательно для заполнения
  </mat-error>
   </div>
  <div style="margin-top: 16px">
    <mat-label class="locationForm__label">Адрес</mat-label>
    <ngx-dadata formControlName="address" [config]="config" (selected)="onAddressSelected($event)"></ngx-dadata>
  <mat-error *ngIf="locationForm.get('address').dirty && locationForm.get('address').hasError('required')">
    Поле обязательно для заполнения
  </mat-error>
  </div>
  <div class="dialog__actions">
    <button *ngIf="!data.isAddOperation" [disabled]="locationForm.invalid" (click)="onLocationUpdate()" class="dialog-btn cursor pointer">Сохранить</button>
    <button *ngIf="data.isAddOperation" [disabled]="locationForm.invalid" (click)="onLocationAdd()" class="dialog-btn cursor pointer">Добавить</button>
  </div>
</form>
