.dialog__close-icon {
  position: absolute;
  top: 19px;
  right: 17px;
}

.dialog__actions {
  position: absolute;
  top: 260px;
  right: 17px;
}

.mat-form-field {
  margin-bottom: 16px;
}

.locationForm__input {
  display: block;
  border: none;
  background: #f1f1f1;
  padding: 5px;
  width: 328px;
}

.locationForm__label {
  margin-top: 32px;
}
