.filter-name{
  margin-top: 52px;
}

.filter {
  display: flex;
  flex-direction: row;
}

.mat-form-field {
  margin-right: 28px;
  width: 250px;
  height: 56px;
}

.filter__startDate mat-label{
  display: block;
}

.filter__endDate mat-label{
  display: block;
}

.filter__activities-types {
  display: flex;
  align-items: flex-end;
}

.filter__activities-types .mat-select{
  margin-bottom: -5px !important;
}

.filter__activities-types mat-checkbox {
  padding-bottom: 17.5px;
}

.activities-types_isOffline {
  margin-bottom: -3px;
}

.filter__add-button {
  display: flex;
  align-items: flex-end;
  width: 122px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 15px;
  margin-left: 20px;
  color: #FFFFFF;
  background: #2a5885;
}

