<div class="filter">
  <p class="headline-6 text-high-clr">Фильтры</p>

  <mat-form-field>
    <mat-label>Название списка</mat-label>
    <mat-select [(ngModel)]="listName" (selectionChange)="changeListName()">
      <mat-option *ngFor="let shop of shopLists" [value]="shop.name">{{shop.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="approved" labelPosition='before' (change)="onConfirmFilterChange()"
                class="filter-checkbox">
    Только подтвержденные
  </mat-checkbox>

</div>
