<div class="main-container">
  <app-menu (activeScreenChanged)="activeScreen = $event" [activeScreen]="activeScreen"></app-menu>
  <div class="content-container">
    <mat-icon class="main-container__logout-btn cursor pointer" (click)="logout()">exit_to_app</mat-icon>
    <app-activities *ngIf="activeScreen=='activities'"></app-activities>
    <app-home-page *ngIf="activeScreen=='schedule'"></app-home-page>
    <app-product-lists *ngIf="activeScreen=='product-lists'"></app-product-lists>
  </div>
</div>

