.main-container {
  display: flex;
  width: 100%;
}

.content-container{
  width: 100%;
}

app-activities {
  display: flex;
  justify-content: center;
  width: 100%;
}

app-product-lists{
  width: 100%;
}

.main-container__logout-btn{
  position: sticky;
  left: 98%;
  margin-top: 16px;
  background: #FFFFFF;
  color: #2a5885;
}
