.finance-content {
  display: block;
  justify-content: center;
  flex-direction: row;
  min-width: 800px;
  padding-left: calc((45% - 307px)/2);
  padding-right: calc((45% - 307px)/2);
}

table {
  width: 100%;
}

.income {
  color: green;
  font-size: larger;
}

.expenses {
  color: red;
  font-size: larger;
}

.finance-content__label{
  display: block;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(42, 88, 133);
}

.mat-form-field {
  margin-right: 28px;
  width: 250px;
  height: 56px;
}

.finance-types_isIncome, .finance-types_isExpenses {
  margin-right: 28px;
}

.filter__add-button {
  font-weight: 400 !important;
  width: 122px;
  height: 27px;
  line-height: 26px;
  margin-bottom: 15px;
  margin-left: 20px;
  color: #FFFFFF;
  background: #2a5885;
}
