.product-lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-list__shop-name{
  display: block;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(42, 88, 133);
}

.mat-table {
  width: 100%;
}

.product-lists-content {
  display: block;
  justify-content: center;
  flex-direction: row;
  min-width: 800px;
  padding-left: calc((45% - 307px)/2);
  padding-right: calc((45% - 307px)/2);
}

.product-lists__filter{
  height: 92vh;
  border-left: 5px double rgba(33, 33, 33, 0.08);
  padding-left: 17px;
  margin-left: 15px;
  margin-bottom: 16px;
}

.isConfirm {
  text-align: center !important;
}

.product-lists__add-product-button,
.product-lists__add-shop-list-button,
.product-lists__delete-shop-list-button {
  width: 200px;
  height: 36px;
  margin-left: 94px;
  color: #FFFFFF;
  background: #2a5885;
  font-weight: 400 !important;
  line-height: 26px;
}

.product-lists__add-product-button {
  margin-top: 160%;
}

.product-lists__add-shop-list-button {
  margin-top: 8%;
}

.product-lists__delete-shop-list-button{
  background: red;
  margin-top: 8%;
}

.product-lists__delete-all {
  text-align: end;
}
