<div class="menu">
  <div class="user-info_container shadow-1 border-rad-7">
    <div class="user-info_avatar">М</div>
    <div class="user-info_name">
      <span>Маньшина</span>
      <span>Елена</span>
    </div>
  </div>
  <div class="menu-actions_container">
    <div class="menu-action">
      <span>Обзор</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action">
      <span>Активности</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action">
      <span>Транспорт</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action">
      <span>Финансы</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action">
      <span>Мои товары</span>
      <div class="menu-action_end"></div>
    </div>
  </div>
</div>
