.menu {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding-top: 32px;
  padding-left: 40px;
  background: #2a5885;
  height: 100vh;
}

.user-info_container {
  width: 270px;
  min-height: 100px;
  margin-bottom: 40px;
  background: #F4F8FC;
  border: 1px solid rgba(42, 88, 133, 0.38);
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.user-avatar-name_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}

.user-info_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 12px;
  background: #2a5885;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25); /*заменить-на-переменную*/
  border-radius: 16px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: white;
}

.user-info_name {
  margin-left: 8px;
}

.user-info_name span, .user-info_titles span  {
  display: flex;
  align-items: center;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.user-info_titles {
  margin-top: 12px;
  margin-left: 8px;
}

.menu-actions_container {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-action {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 32px;
  cursor: pointer;
  margin-bottom: 8px;
  margin-left: -4px;
  user-select: none;
  color: white;
}

.menu-action > span {
  display: flex;
  align-items: center;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-left: 20px;
}

.menu-action_end {
  position: absolute;
  right: -2px;
  width: 6px;
  height: 100%;
  border-radius: 1px;
}

.menu-action:hover .menu-action_end, .menu-action.active .menu-action_end {
  background: #00bfff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}

.menu-action:hover > span, .menu-action.active > span, .activeScreen {
  font-weight: 500 !important;
}

.activeScreen {
  border-bottom: solid 1px #00bfff;
}

.user-info_settings {
  margin: 0px 13px 0 auto;
  border-radius: 10px;
}

.user-info_settings.active {
  background: #00bfff;
}
