<div class="menu">
  <div class="user-info_container">
    <div class="user-info_avatar">М</div>
    <div class="user-info_name">
      <span>Маньшина</span>
      <span>Елена</span>
    </div>
    <mat-icon class="user-info_settings cursor pointer" [class.active]="activeScreen=='settings'" (click)="setActiveAction('settings')">settings</mat-icon>
  </div>
  <div class="menu-actions_container">
    <div class="menu-action" (click)="setActiveAction('schedule')">
      <span [class.activeScreen]="activeScreen=='schedule'">Мое расписание</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action" (click)="setActiveAction('activities')">
      <span [class.activeScreen]="activeScreen=='activities'">Активности</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action" (click)="setActiveAction('finance')">
      <span [class.activeScreen]="activeScreen=='finance'">Финансы</span>
      <div class="menu-action_end"></div>
    </div>
    <div class="menu-action" (click)="setActiveAction('product-lists')">
      <span [class.activeScreen]="activeScreen=='product-lists'">Мои товары</span>
      <div class="menu-action_end"></div>
    </div>
  </div>
</div>
