<form [formGroup]="addUpdateForm" novalidate>
  <p>{{(data.isAddOperation) ? 'Добавление активности'
    : 'Редактирование активности'}}</p>

  <mat-form-field>
    <mat-label>Периодичность</mat-label>
    <mat-select formControlName="period">
      <mat-option *ngFor="let period of periodList" [value]="period">{{period}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="horizontal-forms">
  <mat-form-field *ngIf="isPeriodicityActivity">
    <mat-label>Дата начала выполнения</mat-label>
    <input matInput readonly formControlName="start_time" [min]="this.minProcessingDate" [matDatepicker]="dp" [max]="this.maxDate" (dateChange)="updateMinMaxDate()">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
    <mat-error *ngIf="addUpdateForm.get('start_time').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isPeriodicityActivity" style="margin-bottom: 16px">
    <mat-label>Дата конца выполнения</mat-label>
    <input matInput readonly formControlName="end_time" [matDatepicker]="dp" [min]="this.minDate" (dateChange)="updateMinMaxDate()">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
    <mat-hint>
      При пустом поле активность будет считаться бесконечной
    </mat-hint>
  </mat-form-field>
  </div>

  <div class="horizontal-forms">
  <mat-form-field>
    <mat-label>Допустимое время начала</mat-label>
    <input matInput formControlName="start_timepicker" [ngxTimepicker]="start_time" [format]="24"
           [errorStateMatcher]="matcher" readonly>
    <ngx-material-timepicker #start_time [enableKeyboardInput]="true" [theme]="theme"></ngx-material-timepicker>
    <mat-error *ngIf="addUpdateForm.get('start_timepicker').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
    <mat-hint style="color: red" *ngIf="addUpdateForm.getError('validateStartTimepicker')">
      Время начала не может быть больше времени конца
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Допустимое время конца</mat-label>
    <input matInput formControlName="end_timepicker" [ngxTimepicker]="end_time" [format]="24" [errorStateMatcher]="matcher"
           readonly>
    <ngx-material-timepicker #end_time [enableKeyboardInput]="true" [theme]="theme"></ngx-material-timepicker>
    <mat-error *ngIf="addUpdateForm.get('end_timepicker').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
    <mat-hint style="color: red" *ngIf="addUpdateForm.getError('validateStartTimepicker')">
      Время конца не может быть меньше времени начала
    </mat-hint>
  </mat-form-field>
  </div>

  <mat-form-field *ngIf="!isPeriodicityActivity">
    <mat-label>Дата ближайшего выполнения</mat-label>
    <input matInput readonly formControlName="processing_date" [matDatepicker]="dp" [min]="this.minProcessingDate" >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
    <mat-error *ngIf="addUpdateForm.get('duration').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Продолжительность</mat-label>
    <input matInput formControlName="duration" [ngxTimepicker]="interval" [format]="24" [errorStateMatcher]="matcher"
           readonly>
    <ngx-material-timepicker #interval [enableKeyboardInput]="true" [theme]="theme"></ngx-material-timepicker>
    <mat-error *ngIf="addUpdateForm.get('duration').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Формат</mat-label>
    <mat-select formControlName="format">
      <mat-option *ngFor="let type of activitiesFormat" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Влияние на уровень стресса</mat-label>
    <input matInput formControlName="stress_points" [errorStateMatcher]="matcher">
    <mat-error *ngIf="addUpdateForm.get('stress_points').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
    <mat-error *ngIf="addUpdateForm.get('stress_points').hasError('pattern')
       && (addUpdateForm.get('stress_points').dirty || addUpdateForm.get('stress_points').touched)">
      Доступен только ввод целых чисел со знаком +/-
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Локация</mat-label>
    <mat-select formControlName="location">
      <mat-option *ngFor="let location of locations" [value]="location.name">{{location.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('location').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Тип активности</mat-label>
    <mat-select formControlName="activity_type" [errorStateMatcher]="matcher">
      <mat-option *ngFor="let type of activities" [value]="type">{{type}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('activity_type').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isLesson">
    <mat-label>Аудитория</mat-label>
    <input matInput formControlName="room" [errorStateMatcher]="matcher">
    <mat-error *ngIf="addUpdateForm.get('room').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isLesson">
    <mat-label>Преподаватель</mat-label>
    <input matInput formControlName="teacher">
    <mat-error *ngIf="addUpdateForm.get('teacher').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isLesson">
    <mat-label>Тип учебного занятия</mat-label>
    <mat-select formControlName="lessonType">
      <mat-option *ngFor="let type of lessonsType" [value]="type">{{type}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('lessonType').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isSport">
    <mat-label>Тип спортивного занятия</mat-label>
    <input matInput formControlName="sportType">
    <mat-error *ngIf="addUpdateForm.get('sportType').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isOther">
    <mat-label>Описание</mat-label>
    <input matInput formControlName="description">
    <mat-error *ngIf="addUpdateForm.get('description').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isMeeting">
    <mat-label>Собеседник</mat-label>
    <input matInput formControlName="humanName">
    <mat-error *ngIf="addUpdateForm.get('humanName').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isShopping">
    <mat-label>Название списка покупок</mat-label>
    <mat-select formControlName="shoppingList">
      <mat-option *ngFor="let shoppingList of shoppingLists" [value]="shoppingList.name">{{shoppingList.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('shoppingList').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <div class="activities-dialog__actions">
    <button mat-button (click)="closeDialog()" class="btn cursor pointer">Отмена</button>
    <button mat-button *ngIf="!data.isAddOperation" [disabled]="addUpdateForm.invalid" (click)="updateActivity()"
            class="btn cursor pointer">
      Сохранить
    </button>
    <button *ngIf="data.isAddOperation" mat-button (click)="addActivity()" [disabled]="addUpdateForm.invalid"
            class="btn cursor pointer">
      Добавить
    </button>
  </div>
</form>


