.setting-content {
  display: block;
  justify-content: center;
  flex-direction: row;
  min-width: 800px;
  padding-left: calc((55% - 307px)/2);
  padding-right: calc((55% - 307px)/2);
}

.setting-content__label{
  display: block;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(42, 88, 133);
  margin-top: 30px;
}

.setting-content__add-btn {
  margin: 0 0 0 auto;
  width: 120px;
}

.mat-table {
  width: 100%;
  table-layout: fixed;
}

.name {
  width: 80%;
}

.delete, .update {
  width: 10%;
}
