<form [formGroup]="settingForm" novalidate class="setting-content">
  <p class="setting-content__label">Настройки</p>
  <mat-form-field appearance="outline">
    <mat-label>Максимальный уровень стресса</mat-label>
    <input matInput formControlName="maxStressLevel" [errorStateMatcher]="matcher">
    <mat-icon matSuffix (click)="updateListName()" class="cursor pointer">create</mat-icon>
    <mat-error *ngIf="settingForm.get('maxStressLevel').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
    <mat-error class="error-message" *ngIf="settingForm.get('maxStressLevel').hasError('pattern')
    && (settingForm.get('maxStressLevel').dirty || settingForm.get('maxStressLevel').touched)">
      Для ввода максимального уровня стресса используйте только числа
    </mat-error>
    <mat-error class="error-message" *ngIf="settingForm.get('maxStressLevel').hasError('min')
    && (settingForm.get('maxStressLevel').dirty || settingForm.get('maxStressLevel').touched)">
      Максимальный уровень стресса не может быть меньше 1
    </mat-error>
  </mat-form-field>
</form>
