.setting-content {
  display: block;
  justify-content: center;
  flex-direction: row;
  min-width: 800px;
  padding-left: calc((45% - 307px)/2);
  padding-right: calc((45% - 307px)/2);
}

.setting-content__label{
  display: block;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(42, 88, 133);
  margin-bottom: 49px;
}
