@import 'assets/styles/mat-table.css';

body {
  margin: 0;
}

button {
  font-family: Roboto, serif !important;
}

h1, h2, h3, h4, p, span, label, div, tr, td, input, ::placeholder {
  font-family: Roboto, serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-focus-overlay {
  display: none;
}

.cursor.pointer {
  cursor: pointer;
}

.mat-form-field {
  width: 328px;
  height: 56px;
}

