@import 'assets/styles/mat-table.css';
@import 'assets/styles/scrollbar.css';
@import 'assets/styles/mat-dialog.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
}

.mat-button-focus-overlay {
  display: none;
}

.cursor.pointer {
  cursor: pointer;
}

.mat-form-field {
  width: 328px;
  height: 56px;
}

.ngx-mat-timepicker .mat-input-element {
  padding: 0 !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.timepicker-overlay, .timepicker {
  z-index: 1001 !important;
}

input[_ngcontent-htj-c212]{border:0 solid transparent;background-color:#f1f1f1;padding:5px}
input[type=text][_ngcontent-htj-c212]{background-color:#f1f1f1;width:100%}

.autocomplete-items[_ngcontent-htj-c212]{position:absolute;border:1px solid #d4d4d4;border-bottom:none;border-top:none;z-index:99;top:100%;left:0;right:0}
.autocomplete-items[_ngcontent-htj-c212] .autocomplele-item[_ngcontent-htj-c212]{padding:5px 10px;cursor:pointer;background-color:#fff;border-bottom:1px solid #d4d4d4}
.autocomplete-items[_ngcontent-htj-c212] .autocomplele-item[_ngcontent-htj-c212]:hover{background-color:#e9e9e9}
.autocomplete-items[_ngcontent-htj-c212] .autocomplele-item.active[_ngcontent-htj-c212]{
  background-color:#1e90ff
  !important;
  color:#fff
}
.autocomplete-items[_ngcontent-htj-c212] .autocomplele-item[_ngcontent-htj-c212]   span[_ngcontent-htj-c212]{color:#555;font-size:80%}
