@import 'assets/styles/mat-table.css';
@import 'assets/styles/scrollbar.css';
@import 'assets/styles/mat-dialog.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
}

.mat-button-focus-overlay {
  display: none;
}

.cursor.pointer {
  cursor: pointer;
}

.mat-form-field {
  width: 328px;
  height: 56px;
}

.ngx-mat-timepicker .mat-input-element {
  padding: 0 !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.timepicker-overlay, .timepicker {
  z-index: 1001 !important;
}


