<form [formGroup]="addUpdateForm" novalidate>
  <p>{{(data.isAddOperation)?'Добавление активности'
    :'Редактирование активности'}}</p>

  <mat-form-field>
    <mat-label>Допустимое время начала</mat-label>
    <input matInput readonly [ngxMatDatetimePicker]="pickerStartDate" formControlName="startTime">
    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerStartDate [defaultTime]=[8,0]
                             [stepHour]=1 [stepMinute]=10>
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Допустимое время конца</mat-label>
    <input matInput readonly [ngxMatDatetimePicker]="pickerEndDate" formControlName="endTime">
    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerEndDate [defaultTime]=[8,0]
                             [stepHour]=1 [stepMinute]=10>
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="">Продолжительность</mat-label>
    <input matInput formControlName="interval" [ngxTimepicker]="interval" [format]="24" [errorStateMatcher]="matcher" readonly>
    <ngx-material-timepicker #interval [enableKeyboardInput]="true" [theme]="theme"></ngx-material-timepicker>
    <mat-error *ngIf="addUpdateForm.get('interval').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="">Периодичность</mat-label>
    <mat-select formControlName="periodicity">
      <mat-option *ngFor="let periodicity of periodicityList" [value]="periodicity">{{periodicity}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Формат</mat-label>
    <mat-select formControlName="format">
      <mat-option *ngFor="let type of activitiesFormat" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Влияние на уровень стресса</mat-label>
    <input matInput formControlName="impactOnStressLevel" [errorStateMatcher]="matcher">
    <mat-error *ngIf="addUpdateForm.get('impactOnStressLevel').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
    <mat-error *ngIf="addUpdateForm.get('impactOnStressLevel').hasError('pattern')
       && (addUpdateForm.get('impactOnStressLevel').dirty || addUpdateForm.get('impactOnStressLevel').touched)">
      Доступен только ввод целых чисел со знаком +/-
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Локация</mat-label>
    <mat-select formControlName="location">
      <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('location').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Тип активности</mat-label>
    <mat-select formControlName="activityType" [errorStateMatcher]="matcher">
      <mat-option *ngFor="let type of activities" [value]="type">{{type}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('activityType').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isLesson">
    <mat-label>Аудитория</mat-label>
    <input matInput formControlName="room" [errorStateMatcher]="matcher">
    <mat-error *ngIf="addUpdateForm.get('room').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isLesson">
    <mat-label>Преподаватель</mat-label>
    <input matInput formControlName="teacher">
    <mat-error *ngIf="addUpdateForm.get('teacher').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isLesson">
    <mat-label>Тип учебного занятия</mat-label>
    <mat-select formControlName="lessonType">
      <mat-option *ngFor="let type of lessonsType" [value]="type">{{type}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('lessonType').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isSport">
    <mat-label>Тип спортивного занятия</mat-label>
    <input matInput formControlName="sportType">
    <mat-error *ngIf="addUpdateForm.get('sportType').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isOther">
    <mat-label>Описание</mat-label>
    <input matInput formControlName="description">
    <mat-error *ngIf="addUpdateForm.get('description').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>


  <mat-form-field *ngIf="isMeeting">
    <mat-label>Собеседник</mat-label>
    <input matInput formControlName="humanName">
    <mat-error *ngIf="addUpdateForm.get('humanName').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="isShopping">
    <mat-label>Название списка покупок</mat-label>
    <mat-select formControlName="shoppingListName">
      <mat-option *ngFor="let name of shoppingListNames" [value]="name">{{name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="addUpdateForm.get('shoppingListName').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>

  <div class="activities-dialog__actions">
    <button mat-button (click)="closeDialog()" class="dialog-btn cursor pointer">Отмена</button>
    <button mat-button *ngIf="!data.isAddOperation" [disabled]="addUpdateForm.invalid" (click)="updateAction()" class="dialog-btn cursor pointer">
      Сохранить
    </button>
    <button mat-button *ngIf="data.isAddOperation" mat-button (click)="addAction()" [disabled]="addUpdateForm.invalid" class="dialog-btn cursor pointer">
      Добавить
    </button>
  </div>
</form>


